/* card front */
.p_card{    
    height: 145px;
    width: 160px;
    position: relative;
    background: #F5F8FD;
    padding: 30px 3px;
    font-family: 'Helvetica' !important;
    transform: scale(2.65);
}
.p_admin{
         width: 44px;
    height: 50px;
    position: relative;
    object-fit: cover;
}
.p_card p{
    margin-bottom: 8px;
    font-size: 6px;
    margin-top: 0;
}
.p_logo{
 width: 70px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.p_left{
    width: 70%;
}
.p_right{
    width: 30%;
}
.p_profile{
        width: 48px;
    height: 54px;
    position: absolute;
    top: 23%;
    right: 9%;
    border: 2px solid #EC2829;
    margin-top: 10px;
}
.p_bottom{
          background: #EA0000;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -9px;
    color: white;
    text-align: center;
    height: 24px;
}
.inner {
    position: absolute;
    top: 55%;
    left: 50%;
}

div#card_back {
    margin: 70px 0;
}


div#card_front {
    margin: 70px 0;
}

.rotate {  
    transform:  translateX(-70%) translateY(-50%) rotate(-90deg);
}
.p_lic{
 position: absolute;
    background: white;
    width: 12px;
    top: 15%;
    left: 15%;
}
.p_h2{
        width: 80%;
    padding: 0;
    font-size: 9px;
    float: right;
}

/* card back */
.pb_inner {
    position: absolute;
    top: 55%;
    left: 50%;
}

.pb_rotate {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.pb_card {
    width: 170px;
    height: 136px;
    position: relative;
    background: #F5F8FD;
    padding: 0px 35px;
    padding-right: 0px;
    padding-left: 15px;
    font-family: 'Helvetica' !important;
    transform: scale(2.65);
    overflow: hidden;}
.p_top {
   width: 100%;
    border-bottom: 1px solid #737476;
    padding: 0 0px 0px 12px;
    margin: 0 0 0 -16px;
} 
.pb_first_txt {
    font-size: 4px;
    text-align: center;
    /* width: 80%; */
    /* border-bottom: 1px solid #737476; */
    /* padding: 20px 135px 32px 20px; */
    /* margin: 0 0 0 -33px; */
}

.pb_title {
       font-weight: bold;
    font-size: 6px;
}

.pb_bottom_left {
   
    border-right: 1px solid #737476;
    width: 40%;
    padding: 0px 0 86px 0;
    font-size: 6px;

}

.pb_lost {
       padding: 3px 0 0 15px;
    border-top: 1px solid #737476;
    width: 100%;
}

.pb_p {
  font-size: 5px;
    margin-left: -15px;
    padding-left: 15px;
    margin-top: 1px;
    padding-bottom: 0px;
}

.pb_right {
    position: absolute;
    top: 44%;
    right: 24%;
}

.pb_bar {
  position: absolute;
    width: 11%;
    background: #EA0000;
    top: 0;
    right: 0;
    height: 362px;
}
p.plumber_name.add_style{
       top: 49%;
    position: absolute;
    right: 60%;
    margin: 0 0;
    font-size: 5px;
}
h2.pb_lic {
  position: absolute;
    top: 40%;
    transform: rotate(-90deg);
    right: -36px;
    font-size: 11px;
    color: white;
}
.p_top span img {
    width: 7px;
}

.p_top span {
font-size: 4px;
    letter-spacing: 0.2px;
    margin: 0 0 0 2px;
}
.p_bot_img{
    width: 15px;
}

.pb_right p {
    font-size: 6px !important;
        margin-bottom: 0px !important;
}


.add_width.img-txt span:nth-child(4n + 1) {
    clear: both;
}

.abve--img {
    margin-left: 0px;
    float: left;
    width: 5%;
    padding-right: 0px;
    margin-bottom: 4px;
}

span.txt-img-card.abve-grnd--ttle {
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 34%;
    padding-left: 7px;
    padding-right: 7px;
    vertical-align: middle;
    align-items: center;
}

p.plumber_name.add_style:after {
    content: "";
    display: block;
    border-bottom: 1px solid #00000073;
    position: relative;
    top: 4.5px;
    left: 16px;
    width: 65%;
}